CLIENT_ID=${CLIENT_ID} # The client ID provided by Spotify when you register the application
CLIENT_SECRET=${CLIENT_SECRET} # The client secret provided by Spotify when you register the application
USER_ID=${USER_ID} # Your Spotify user ID
DEFAULT_PLAYLIST_ID=${DEFAULT_PLAYLIST_ID} # ID of the playlist where songs are taken from when the democratic playlist is empty
